<div class="container">
  <h1>My Quotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h4>{{ quote.name }} posted on {{quote.postDate|date|uppercase}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='quote.showAuthor'>
          <app-quote-detail [quote]='quote' (isViewed) = 'deleteQuote($event,i'></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>














